@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.outfit-400 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.outfit-600 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.outfit-700 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  background: #F3E5D7;
  max-width: 100%;
}

.recipe_page_card {
  background: #fff;
  max-width: 736px;
  margin: auto;
}

.recipe_page_img {
  display: block;
  width: 100%;
  height: 100%;
}

.recipe_page_comp {
  padding: 40px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.recipe_page_title {
  color: #312E2C;
  font-size: 36px;
  line-height: 100%;
  margin-bottom: 24px;
}

.recipe_page_desc {
  font-size: 16px;
  line-height: 150%;
  color: #5F564D;
}

.recipe_page_prep_time {
  background: #FFF7FB;
  border-radius: 12px;
  padding: 24px;
}

.recipe_page_prep_time_title {
  color: #7A284E;
  font-size: 20px;
  line-height: 100%;
  margin-bottom: 16px;
}

.recipe_page_prep_time_list,
.recipe_page_ingredients_list,
.recipe_page_instructions_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 24px;
}

.recipe_page_prep_time_list_item {
  color: #5F564D;
  font-size: 16px;
  line-height: 150%;
  padding-left: 16px;
}

.recipe_page_prep_time_list_item span,
.recipe_page_instructions_list_item span {
  font-weight: 700;
}

.recipe_page_prep_time_list_item::marker {
  color: #7A284E;
}

.recipe_page_ingredients {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.recipe_page_ingredients_title {
  font-size: 28px;
  line-height: 100%;
  color: #854632;
}

.recipe_page_ingredients_list_item {
  color: #5F564D;
  padding-left: 16px;
  font-size: 16px;
  line-height: 150%;
}

.recipe_page_ingredients_list_item::marker,
.recipe_page_instructions_list_item::marker {
  color: #854632;
  font-weight: 700;
}

hr {
  border: 1px solid #E3DDD7;
}

.recipe_page_instructions {
  display: flex;
  flex-direction: column;
  gap: 24px;

}

.recipe_page_instructions_title {
  font-size: 28px;
  line-height: 100%;
  color: #854632;
}

.recipe_page_instructions_list_item {
  color: #5F564D;
  padding-left: 16px;
  font-size: 16px;
  line-height: 150%;
}

.recipe_page_nutrition {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.recipe_page_nutrition_title {
  font-size: 28px;
  line-height: 100%;
  color: #854632;
}

.recipe_page_nutrition_info{
  font-size: 16px;
  line-height: 150%;
  color: #5F564D;
}

.recipe_page_nutrition_breakdown{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.recipe_page_nutrition_breakdown_item{
  display: flex;
  gap: 16px;
  padding: 0 32px;
  justify-content: space-between;
}

.recipe_page_nutrition_nutrient{
  font-size: 16px;
  line-height: 150%;
  color: #5F564D;
  text-align: left;
  width: 37.13%;
}

.recipe_page_nutrition_nutrient_amount{
  font-size: 16px;
  line-height: 150%;
  color: #854632;
  width: 37.13%;
}

.attribution {
  padding: 5px 10px;
  text-align: center;
  background: #fff;
}

.attribution a {
  color: #854632;
}

@media screen and (min-width: 735px) {
  .container{
    padding: min(6.3%, 124px);
  }

  .recipe_page_card{
    padding: min(5.4%, 40px);
    border-radius: 24px;
  }

  .recipe_page_comp{
    padding: 40px 0;
  }

  .recipe_page_img{
    border-radius: 12px;
  }
}